{{#with curated_post}}
<a name="restaurant-info"></a>
  <div id="map-post-title">
    Try <a id="dish-name-restaurant-div" href="#topofpage">{{dish_name}}</a> @ {{restaurant.name}}
  </div>
  <div id="map-post-content">
    {{dish_description}}
  </div>
{{/with}}