<form>
  <input id="category-selected" type="hidden" value="" />
  <textarea id="category-content" rows="20" cols="79"></textarea>
  <div class="submit button">
    <button name="submit" type="submit" id="category-box-submit" class="save-category-button">Save</button>
  </div>
</form>
