{{#with curated_post}}
  {{#with restaurant}}
    <button class="btn btn-primary btn-lg" id="submission-btn" data-toggle="modal" data-target="#myModal" data-id="{{id}}">
      Recommend a dish
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Recommend a dish at {{name}}</h4>
          </div>
          <div class="modal-body">
            <form id="submission-form">
              <input id="full-name" type="text" class="form-control" placeholder="Your full name">
              </br>
              <input id="dish-name" type="text" class="form-control" placeholder="Dish name">
              </br>
              <textarea id="dish-description" rows="8" class="form-control" placeholder="Dish description"></textarea>
              </br>
              <input id="blog-link" type="text" class="form-control" placeholder="Blog link (optional)">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" id="submission-submit-btn" class="btn btn-primary" data-id="{{id}}">Submit</button>
          </div>
        </div>
      </div>
    </div>
  {{/with}}
{{/with}}
