<script id="restaurants-template" type="text/x-handlebars-template">
  <p>All Restaurants</p>
    <ul>
      {{#each restaurants}}
        <li data-id="{{id}}">{{name}}</li>
      {{/each}}
    </ul>
</script>

<script id="restaurant-template" type="text/x-handlebars-template">
  <p>{{name}}</p>
</script>

<section id="content"></section>