<div id="entire-page">

  <div id="submission-page"></div> 

  <section id="content"></section>

  <div id="map"></div>

  <div id="map-content"></div>

</div>


<%= javascript_include_tag "leaflet" %>
<%= javascript_include_tag "map" %>


<script type="text/javascript">

  $(document).ready(function() {
     $('#nav').localScroll({duration:800});
     $("#nav-return").scrollTo( 0, 800, {queue:true} );
  });

</script>
