<div id="submission-page"></div> 

<section id="content"></section>

<div id="map"></div>

<script type="text/javascript">

  $(document).ready(function() {
     $('#nav').localScroll({duration:800});
     $("#nav-return").scrollTo( 0, 800, {queue:true} );
  });

</script>
