/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require leaflet
 *= require modal-window
 *= require_self
 */

#dish-background {
  background-image: url('22ships-burger.jpg');
  background-size: cover;
  width: 100%;
  height: 802px;
 }
#restaurant-background {
  height: 802px;
 }

#clicked {
  text-indent: -99999px;
}

#dish-list {
  position: relative;
  list-style: none;
  background: rgba(0,0,0,0.5);
  top: 0px;
  height: 100px;
  color: white;
}
#submission-btn {
  z-index: 10;
}
.btn.btn-primary.btn-lg {
  position: absolute;
  top: 50px;
  right: 50px;
}
#topofpage {
margin: 0;
}

#map {
  height: 500px;
  width: 500px;
}